
{{ define "main" }}

<h1>{{ .Title }}</h1>
bcc
<ul>
 {{ range .Site.RegularPages }}

 <li>
	     <div class="blog-contents">
   {{ if .Params.thumbnail }}

		     <div class="image_box">

           <a href="{{ .Permalink }}">


               <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-cover">


               </div>
           <div class="content_box">
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
             {{ partial "metadata.html" . }}
{{ .Summary }}



       </div>


           {{else}}

        <div class="content_box">
         <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

<p>{{ .Summary }}</p>
abc
{{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}


    </div>
{{end}}
 </div>
    </li>


  {{end}}
</ul>
{{ end }}
